<beans
        xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <bean id="setting" class="com.costaff.Setting">
        <constructor-arg value="1"></constructor-arg>
        <constructor-arg value="Aijaz"></constructor-arg>
    </bean>
    <bean id="answer1" class="com.costaff.Answers">
        <constructor-arg value="Answer 1 --some answer"></constructor-arg>
    </bean>

    <bean id="answer2" class="com.costaff.Answers">
        <constructor-arg value="Answer 2 --some answer"></constructor-arg>
    </bean>
    <bean id="question" class="com.costaff.Questions">
        <constructor-arg value="101"></constructor-arg>
        <constructor-arg value="Some Question"></constructor-arg>
        <constructor-arg ref="setting"></constructor-arg>
        <constructor-arg>
            <list>
                <value>This is simple string list object 1</value>
                <value>This is simple string list object 2</value>
            </list>
        </constructor-arg>
        <constructor-arg>
            <list>
                <ref bean="answer1"/>
                <ref bean="answer2"/>
            </list>
        </constructor-arg>
    </bean>
    <bean id="address1" class="com.costaff.employees.Address">
        <constructor-arg value="201"/>
        <constructor-arg value="Srinagar"/>
        <constructor-arg value="190001"/>
    </bean>
    <bean id="address2" class="com.costaff.employees.Address">
        <constructor-arg value="202"/>
        <constructor-arg value="Ganderbal"/>
        <constructor-arg value="190201"/>
    </bean>
    <bean id="employee1" class="com.costaff.employees.Employee">
        <constructor-arg value="301"/>
        <constructor-arg value="Aijaz"/>
        <constructor-arg value="30000"/>
        <constructor-arg ref="address1"/>
        <constructor-arg value="401"/>
    </bean>
    <bean id="employee2" class="com.costaff.employees.Employee">
        <constructor-arg value="302"/>
        <constructor-arg value="Sajid"/>
        <constructor-arg value="35000"/>
        <constructor-arg ref="address2"/>
        <constructor-arg value="401"/>
    </bean>
    <bean id="department1" class="com.costaff.employees.Department">
        <constructor-arg value="401"/>
        <constructor-arg value="Development"/>
        <constructor-arg>
            <list>
                <ref bean="employee1"/>
                <ref bean="employee2"/>
            </list>
        </constructor-arg>
    </bean>

</beans>